
<div class="row justify-content-between leFooter">
    <div class="col-3" style="padding-left: 25px"> 
        <img  src="../../../assets/logo.png" class="img-logo" alt="" (click)="redirectToHome()">  
    </div>

    <div class="col-4" style="padding-left:0px" (click)="redirectToHome()">
        <p style="font-size: 16px"> Fruits et légumes </p>
    </div>
       
    <div class="col-5" id="data" >
        <input type="search" name="search" placeholder="" class="inputField" #request (keyup.enter)="sendRequest(request.value)"> 
    </div>
</div>
