
<div class="row custom-row">
    
   
    <div class="search col-3" >
				<form >
					<input type="text" name="search" placeholder="Rechercher des fruits, légumes..." id="barreDeRecherche" #request>
					<input type="submit" name="submit" value="Rechercher" (click)="sendRequest(request.value)">
				</form>
			</div>


    <div class="col-3"></div>

   

    <div class=" col-3 favorite">
        <a class="nav-link legumes" [routerLink]="['/mes-favoris']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="text-align: center">
          <img src="../../../assets/iconeFavoris.png" width="25px" height="25px" alt="">  
          <p style="color: white">Mes favoris</p>
            </a>
        </div>

    <div class="col-3">
        <img src="../../../assets/iconLogout.png" class="logoutIcon" (click)="onDeconnect()" alt="">
        <p style="margin-left: -14px">Déconnexion</p>
    </div>
    


</div>

