<div class="row custom-row">
    <div class="search col-3">
        <input type="text" name="search" placeholder="Rechercher des fruits, légumes..." id="barreDeRecherche" #request style="width:100%" (keyup.enter)="sendRequest(request.value)" >
    </div>

    <div class="col-3" style="    padding-left: 0px;">
        <img src="../../../assets/iconLoupe.png" width="25px" height="25px" alt="" (click)="sendRequest(request.value)" >
    </div>

    <div class=" col-3 favorite">
        <a class="nav-link legumes" [routerLink]="['/mes-favoris']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            style="text-align: center">
            <img src="../../../assets/iconeFavoris.png" width="25px" height="25px" alt="">
            <p style="color: white">Mes favoris</p>
        </a>
    </div>

    <div class="col-3">
        <img src="../../../assets/iconLogout.png" class="logoutIcon" (click)="onDeconnect()" alt="">
        <p style="margin-left: -14px">Déconnexion</p>
    </div>



</div>