.row{
    padding-top: 15px;
    background: #f37c5a; /* Old browsers */
    background: -moz-linear-gradient(left, #f37c5a 0%, #ed5063 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f37c5a 0%,#ed5063 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f37c5a 0%,#ed5063 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37c5a', endColorstr='#ed5063',GradientType=1 );
    color: white;
    font-size: 10px;
    padding-bottom: 13px;
}

.searchbar{
    margin-left: 30px;
    border-radius: 20px;
    width: 50%;
    height: 35px;
}

.custom-row{

    padding-bottom: 25px;
    height: 56px;
    padding-top: 11px;
}

.img-profil{
    margin-left: 80%;
    margin-top: -36px;
    height:35px;
    width:35px;
}



.logoutIcon{
    margin-right:20px;
    width: 25px;
    height:25px;
}


.form{
    width:100%;
    margin-left:15px;
}

.favorite{
    margin-top:-7px;
   
}

legumes{
    color:white
}

.recherche{
    font-size:16px;
}