@font-face {
    font-family: "Montserrat Bold";
    src: url('/../../../assets/fonts/Montserrat/Montserrat-Regular.ttf');

}


.row{
    padding-top: 15px;
    background: #ff9c00; /* Old browsers */
    background: -moz-linear-gradient(left, #ff9c00 0%, #ffc53f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff9c00 0%,#ffc53f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff9c00 0%,#ffc53f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    font-size: 10px;
    padding-bottom: 13px;
}

.searchbar{
    margin-left: 30px;
    border-radius: 20px;
    width: 50%;
    height: 35px;
}



.img-profil{
    margin-left: 80%;
    margin-top: -36px;
    height:35px;
    width:35px;
}

#data input[type="search"]{
    background: url('../../../assets/iconLoupe.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-right:15px;
    float:right;
    font-size: 14px;
    width:15px;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    color:white;
    margin-right: 30px;
   
}
#data input[type="search"]:hover {
    border-bottom: solid 2px white;
    width: 70%;
}


.logoutIcon{
    margin-right:20px;
    width: 25px;
    height:25px;
}

.leFooter{
    height: 75px;
}

.form{
    width:100%;
    margin-left:15px;
}

.favorite{
    margin-top:-7px;
   
}

legumes{
    color:white
}

.recherche{
    background: transparent;
    font-size:16px;
    border-bottom: solid 2px white;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.title{
    font-size: 16px;
    font-family: 'Montserrat Bold'
}