<div class="row fixed-row-bottom leheader ">
  <div class="col-3 nav-item square1" [routerLink]="['/']">
    <div class="text text-1">
      Accueil
    </div>
  </div>

  <div class="col-3 nav-item square2" [routerLink]="['/fruits']">
    <div class="text text-2">
      Fruits
    </div>
  </div>

  <div class="col-3 nav-item square3" [routerLink]="['/legumes']">
    <div class="text text-3">
      Légumes
    </div>

  </div>

  <div class="col-3 nav-item square4" [routerLink]="['/mes-favoris']">
    <div class="text text-4">
      Mes Favoris
    </div>

  </div>

</div>