.row{
    padding-top: 25px;
    background-color: #333333;
    font-size: 10px;
    height: 13vh;
    position: fixed;
    bottom: 0;
    margin-left:0px;
    margin-right:0px;
    width: 100vw;
}
a{
    color:white;
}



.square1{
    background-color: white;
    width: 60%;
    height: 6px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
   
}
.square2{
    background-color: white;
    width: 60%;
    height: 6px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    
}

.square3{
    background-color: white;
    width: 60%;
    height: 6px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}