<!-- <nav id="mainNavbar" class="navbar  navbar-dark bg-dark fixed-bottom">
  <ul>
    <li class="navbar-nav">

      <div class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
        <a class="nav-link" [routerLink]="['/']">Accueil
          <span class="sr-only">(current)</span>
        </a>
      </div>
      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/fruits']">Fruits</a>
      </div>

      <div class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/legumes']">Légumes</a>
      </div>
  

    </li>
  </ul>
</nav> -->
<div class="row fixed-bottom">
    <div class="col-4 nav-item">
      <a class="nav-link" [routerLink]="['/']"  style="color:white; text-align: center">
      <img src="../../../assets/homeIcon.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
       ACCUEIL
          <span class="sr-only">(current)</span>
        </a>
    </div>
    <div class="col-4 nav-item">
        <a class="nav-link" [routerLink]="['/fruits']"  style="color:white;text-align: center">
        <img src="../../../assets/fruitPage.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="nav-item" routerLinkActive="active">
            FRUITS
          </div>
          </a>
    </div>
    <div class="col-4 nav-item">
      <a class="nav-link" [routerLink]="['/legumes']" style="color:white;text-align: center">
        <img src="../../../assets/LegumePage.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="nav-item" routerLinkActive="active">
            LEGUMES
          </div>
      </a>
    </div>
  </div>