<div class="row fixed-bottom">
    <div class="col-3 nav-item">
      <div class="square1">  </div>
      <a class="nav-link home" [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style=" text-align: center">
      <img src="../../../assets/homeIcon.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
       <b> ACCUEIL</b> 
          <span class="sr-only">(current)</span>
        </a>
    </div>
    <div class="col-3 nav-item">
        <div class="square2">  </div>
              <a class="nav-link fruits" [routerLink]="['/fruits']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="text-align: center">
        <img src="../../../assets/fruitPage.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="nav-item" >
          <b>  FRUITS </b> 
          </div>
          </a>
    </div>
    <div class="col-3 nav-item">
        <div class="square3">  </div>
      <a class="nav-link legumes" [routerLink]="['/legumes']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="text-align: center">
        <img src="../../../assets/LegumePage.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="nav-item">
           <b> LEGUMES</b> 
          </div>
      </a>
    </div>

   <!-- <div class="col-3 nav-item">
        <div class="square3">  </div>
      <a class="nav-link legumes" [routerLink]="['/calendar-page']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="text-align: center">
        <img src="../../../assets/LegumePage.png" width='20px' height='20px' alt="" style="margin-left: auto; margin-right: auto; display: block;">
        <div class="nav-item">
           <b> CALENDAR</b> 
          </div>
      </a>
    </div> -->

  </div>