.row{
    padding-top: 0px;
    background: #fff; /* Old browsers */
   
    height: 13vh;
    
    bottom: 0;
    margin-left:0px;
    margin-right:0px;
    width: 100vw;
}
a{
    color:white;
}

.leheader{
    height: 11vh;
    position: fixed;
    bottom: 0;
    z-index:2;
}

.square1{
    display: block;
    color: green;
    background-size: 33%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center;
    font-size: 3vw;
    text-align: center;
    position: relative;
}


.square2{
    display: block;
    color: green;
    background-size: 33%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center;
    font-size: 3vw;
    text-align: center;
    position: relative;
}

.square3{
    display: block;
    color: green;
    background-size: 33%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center;
    font-size: 3vw;
    text-align: center;
    position: relative;
}

.square4{
    display: block;
    color: green;
    background-size: 33%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center;
    font-size: 3vw;
    text-align: center;
    position: relative;
}

.text-1{
    position: absolute;
    bottom: 13%;
    left:31%;
}
.text-2{
    position: absolute;
    bottom: 13%;
    left:37%;
}

.text-3{
    position: absolute;
    bottom: 13%;
    left:28%;
}

.text-4{
    position: absolute;
    bottom: 13%;
    left:18%;
}
