
<div class="main">

    <a class="nav-link" [routerLink]="['/fruits-de-saison']">
<button style="text-align:center" class="btn btn-primary custom-btn"> AFFICHER SEULEMENT LES PRODUITS DE SAISON </button>
</a>
<h3 style="text-align: center"> Tous les fruits</h3>
<div class="row justify-content-center elmt2">
  
<div *ngFor="let fruit of listeDeFruits" style="text-align: center" class="col-6 elmt3" >

      <div class="card elmtSingle " >
          <a [routerLink]=" ['/fruits',fruit.nom] ">
          <img class="card-img-top" src="{{fruit.imageUrl}}" alt="Card image cap" style="width:70%">
        </a>
          <div class="card-body">
           <h5 class="card-title titre" style="font-size: 4vw" style="text-align: left"> {{fruit.nom}}</h5>
        
        </div>
      </div>
    
    
</div>
</div>

</div>