<div *ngIf = "listeDeFavoris.length!=0">


<div class="main">
 
    <div class="row justify-content-center elmt2">
      <div *ngFor="let item of listeDeFavoris" style="text-align: center" class="col-6 elmt3">
        <div class="card elmtSingle ">
          <div (click)="onNavigate(item.adress)">
            <img class="card-img-top" src="{{item.imageUrl}}" alt="Card image cap" style="width:70%">
          </div>
          <div class="card-body">
            <h5 class="card-title titre" style="font-size: 4vw" style="text-align: center"> {{item.nom}}</h5>
          </div>

          <button class="btn btn-danger" (click)="deleteDesFavoris(item.nom)" style="font-size:3vw; "> Supprimer des favoris </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf= "listeDeFavoris.length===0">
  
  <div class="main">
      <h3> Aucun fruits ou légumes en favoris ... </h3>
  </div>

</div>