@font-face {
    font-family: 'codecColdTrial';
    src: url('/../../../assets/fonts//Louis George Cafe.ttf');
    font-weight: normal;
    font-style: normal;
}


.main{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:40px;
    height:74vh;
    
}

@font-face {
    font-family: "Louis Georges Cafe";
    src: url('/../../../assets/fonts/LouisGeorgesCafe/Louis George Cafe.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .titre {
    font-family: 'Garamond';
  }

  .elmtSingle{
      border: transparent;
      margin-bottom:45px;
  }

  .card-body{
      padding: 0;
  }