.row{
    padding-top:50px;
    padding-bottom:85px;
}

.singleElmt{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 33px;
    box-shadow: 1px 1px 12px #555;
}
.main{
   /*background-image: linear-gradient(to right,#FFBFD1, #FF6A6E);*/
    margin-right: -15px;
    padding-top: 15px;
    padding-bottom: 60px;
}

.imageElmt{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.saison{
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}

.pasDeSaison{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

.moisVert{
    background-color: #00B75F;
    color: white;
  text-align: center;
    
    font-size: 4vw;
    border-radius:15px;
}

.moisRouge{
    background-color: #FE2E2E;
   
    font-size: 4vw;
    border-radius:15px;
}

.column{
    margin-left: -10px;
    margin-right: -10px;
}

.ligne{
  
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 20px;
}

.arrow-down {

    width: 0;
	height: 0;
    border-left: 3vw solid transparent;
    border-right: 3vw solid transparent;
    border-top: 6vw solid #ffffff;
  
    z-index: 2;
    position: absolute;


    margin: auto;
    left: 0;
    right: 0;
  }

  .dateSaison{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 3vw;
  }

  .line-months{
      padding-bottom: 0px;
      padding-top:0px;
    margin-top:-32px;
      margin-left: 22px;
    margin-right: 13px;

  }

  .addToFavoris{
      display: block;
      margin: auto;
        font-size: 4vw;
        margin-bottom: 5px;
  }

  .deleteDesFavoris{
    font-size: 4vw;
      display: block;
      margin: auto;
  }

  .heartIcon{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 10;
    margin-top: 22px;
    margin-left: 23px;
  }

  .retour{
    margin-left: 16%;
  }

/*//////////////////////////////////////*/
  .titre{
    margin-top:20px;
  }


  .titre-saison{
      text-align: center
  }
  