.row{
    padding-top:50px;
    padding-bottom:85px;
}

.singleElmt{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 33px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px #555;
}

@font-face {
    font-family: "Louis Georges Cafe";
    src: url('/../../../assets/fonts/LouisGeorgesCafe/Louis George Cafe.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Louis Georges Cafe Bold";
    src: url('/../../../assets/fonts/LouisGeorgesCafe/Louis George Cafe Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amiko Regular";
    src: url('/../../../assets/fonts/Amiko/Amiko-Regular.ttf');
}

@font-face {
    font-family: "Casual Friday";
    src: url('/../../../assets/fonts/Casual Friday/Casual Friday.ttf');
}


.main{
   /*background-image: linear-gradient(to right,#FFBFD1, #FF6A6E);*/

    padding-top: 0px;
    padding-bottom: 60px;
}

.imageElmt{
    width: 300%;
    margin-left: -100px;
    margin-right: auto;
    display: block;
}

.saison{
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Amiko Regular";
}

.pasDeSaison{
    text-align: center;
    padding-bottom: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
    font-family: "Amiko Regular";
    

}

.moisVert{
    background-color: #00B75F;
    color: white;
    text-align: center;
    font-size: 4vw;
  
    font-family: "Louis Georges Cafe"
}

.moisRouge{
    background-color: #FE2E2E;
    color: white;
    font-size: 4vw;
  
    font-family: "Louis Georges Cafe"
}

.column{
    margin-left: -10px;
    margin-right: -10px;
}

.ligne{
  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.arrow-down {

    width: 0;
	height: 0;
    border-left: 3vw solid transparent;
    border-right: 3vw solid transparent;
    border-top: 6vw solid #ffffff;
  
    z-index: 2;
    position: absolute;


    margin: auto;
    left: 0;
    right: 0;
  }

  .dateSaison{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 3vw;
    font-family: "Louis Georges Cafe";
  }

  .line-months{
      padding-bottom: 0px;
      padding-top:0px;
    margin-top:-32px;
      margin-left: 22px;
    margin-right: 13px;

  }

  .addToFavoris{
        display: block;
        margin: auto;
        font-size: 4vw;
        margin-bottom: 5px;
        font-family: "Louis Georges Cafe";
        border-radius: 20px;
  }

  .deleteDesFavoris{
        font-size: 4vw;
        display: block;
        margin: auto;
        font-family: "Louis Georges Cafe";
        border-radius: 20px;
  }

  .heartIcon{
    height: 25px;
    width: 25px;

    z-index: 10;
    margin-top: 22px;
    margin-left: 23px;
  }

  .heartEmpty{
    height: 25px;
    width: 25px;

    z-index: 10;
    margin-top: 22px;
    margin-left: 23px;
  }

  .retour{
    margin-top: 0px;
    margin-bottom: -9px;
    padding-left: 36px;
   
    padding-top:7px;
    padding-bottom:2px;
    height:30px;
  }

/*//////////////////////////////////////*/
  .titre{
    margin-top:22px;
   
    font-size:8vw;
    margin-bottom:-20px;
    text-align: left;
    z-index:2;
  }


  .titre-saison{
      text-align: center;
      font-family: "Louis Georges Cafe Bold";
  }
  

  .crop {
    width: 150px;
    height: 270px;
    overflow: hidden;
}

.crop img {
    width: 360px;
    height: 290px;
    margin: -15px 0 0 -209px;
}

