.row{
    padding-top:50px;
    padding-bottom:85px;
}

.singleElmt{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.main{
    background-color: #f2f2f2
}

.imageElmt{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.saison{
    background-color: #73e473;
    padding-bottom: 5px;
    padding-top: 10px;
}

.pasDeSaison{
    background-color: #FE2E2E;
    padding-bottom: 5px;
    padding-top: 10px;
}