.elmt2{

    margin-right: 20px; 
    margin-left: 20px; 
   
}

.elmtSingle{
    margin-top: 15px;
    border: solid 0px;
    border-radius: 0px;
}

.main{
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 80px;
    height: 90vh;
}

.custom-btn{
    background-color:white;
    color: black;
    border-radius:10px;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 3vw;
}


.elmt3{
    padding: 0 7px 0 7px;
}

.titre{
    font-family: 'codecColdTrial';
    font-size: 1vw;
    margin-left: -8px;
    margin-bottom: -14px;
}
