
<!--
<button (click)="onJanvier()"> Janvier</button>
<button (click)="onFevrier()"> Fevrier</button>
<button (click)="onMars()"> Mars</button>
<button (click)="onAvril()"> Avril</button>
<button (click)="onMai()"> Mai</button>
<button (click)="onJuin()"> Juin</button>
<button (click)="onJuillet()"> Juillet</button>
<button (click)="onAout()"> Aout</button>
<button (click)="onSeptembre()"> Septembre</button>
<button (click)="onOctobre()"> Octobre</button>
<button (click)="onNovembre()"> Novembre</button>
<button (click)="onDecembre()"> Décembre</button>-->

<div class="main">

  <h3 style="text-align: center"> Tous les fruits</h3>
  <div class="row justify-content-center elmt2">
    
  <div *ngFor="let fruit of listeDeFruits | filter: laSaisonChoisie, saison" style="text-align: center" class="col-6 elmt3" >
  
        <div class="card elmtSingle " >
            <a [routerLink]=" ['/fruits',fruit.nom] ">
            <img class="card-img-top" src="{{fruit.imageUrl}}" alt="Card image cap" style="width:70%">
          </a>
            <div class="card-body">
             <h5 class="card-title titre" style="font-size: 4vw" style="text-align: left"> {{fruit.nom}}</h5>
          
          </div>
        </div>
      
      
  </div>
  </div>
  
  </div>