<label>Janvier:
  <input type="checkbox" (click)="updateDoublonJanvier();checkDoublon(0)">
</label><br/>

<label>Fevrier:
  <input type="checkbox"  (click)="updateDoublonFevrier();checkDoublon(1)">
</label><br/>

<label>Mars:
    <input type="checkbox"  (click)="updateDoublonMars();checkDoublon(2)">
  </label><br/>
  
  <label>Avril:
      <input type="checkbox" >
    </label><br/>
    




<h3 style="text-align: center"> Aliments en tout</h3>
      <div class="row justify-content-center elmt2">
        <div *ngFor="let element of tableauModifie" style="text-align: center" class="col-2 elmt3">
           
               
                  {{element[0]}}
                  <hr>



          
          
        </div>
      </div>
