<div class="gradient-rouge"[routerLink]="['/fruits-de-saison']" >
    <div class="img-fruits" >
        <p class="text-fruits"> Voir les fruits de saison </p>
        <img src="../../../assets/arrow_fruits.png" class="arrow-fruits" alt="">
    </div>
</div>

<div class="gradient-vert"  [routerLink]="['/legumes-de-saison']">
    <div class="img-legumes">
        <p class="text-legumes"> Voir les legumes de saison </p>
        <img src="../../../assets/arrow_legumes.png" class="arrow-legumes" alt="">
    </div>
</div>