<div class="main"> 
    <img src="../../../assets/LogoHomepage.png" alt="" class="logoHomepage">
    <div class="buttons">
            <a class="nav-link" [routerLink]="['/fruits-de-saison']">
                
                <button class="btn btn-primary btn-fruits"> <img class="iconFruitBtn"src="../../../assets/fruitPage.png"alt="">fruits de saison</button> 
            </a> 
            <a class="nav-link" [routerLink]="['/legumes-de-saison']">
                <button class="btn btn-primary btn-legumes"> <img class="iconLegumetBtn" src="../../../assets/LegumePageViolet.png" alt=""> légumes de saison </button>
             </a>
    </div>
    


</div>
       

