<div class="main"> 
    <div class="two-images" >
        <div class="fruits">
                <a class="nav-link " style="padding: 0" [routerLink]="['/fruits-de-saison']" >
                    <img id="image_fruits" src= "../../../assets/fruitsResize.png" style=" height:37%; width:auto;" alt="">
                </a> 

        </div> 

        <div class="legumes">
                <a class="nav-link "style="padding: 0" [routerLink]="['/legumes-de-saison']">
                    <img src= "../../../assets/legumesresize.png" style=" height:37%;width:auto; top:50% " alt="">
                 </a>
        </div>
    
    </div>

</div>
       

