@font-face {
	font-family: "Baron";
	src: url('../../../assets/fonts/Baron-Neue.otf');
}

@font-face {
    font-family: "Casual Friday";
    src: url('/../../../assets/fonts/Casual Friday/Casual Friday.ttf');
}

.gradient-rouge{
	height: 39vh;
	background: #ffbfbf; /* Old browsers */
	background: -moz-linear-gradient(top, #ffbfbf 0%, #ff8d7f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffbfbf 0%,#ff8d7f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffbfbf 0%,#ff8d7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gradient-vert{
	height: 39vh;
	background: #baff7f; /* Old browsers */
	background: -moz-linear-gradient(top, #baff7f 0%, #7fffd2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #baff7f 0%,#7fffd2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #baff7f 0%,#7fffd2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.img-fruits{
	width: 100%;
    height: 100%;
	background-image: url("../../../assets/homeFruits.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom left;
}

.img-legumes{
	width: 100%;
	height: 100%;
	background-image: url("../../../assets/homeLegumes.png");
	background-repeat: no-repeat;	
	background-size: 100%;
	background-position-y: 100%;
}

.text-fruits{
	padding-top: 2vh;
	margin-left: 8vh;
	font-size: 6vw;
	font-family: 'Casual Friday'
}

.arrow-fruits{
	width: 12vh;
    margin-top: -4vh;
    margin-left: 29vw;
}


.text-legumes{
	padding-top: 2vh;
	margin-left: 8vh;
	font-size: 6vw;
	font-family: 'Casual Friday'
}

.arrow-legumes{
	width: 12vh;
    margin-top: -4vh;
    margin-left: 50vw;
}