<h3 style="text-align: center; margin-top:10px">Resultat de recherche </h3>

<div *ngIf="existence" class="row justify-content-center elmt2">
  
  <a [routerLink]=" [adress,objetRecherche.nom] ">
  
        <div class="card elmtSingle " style="margin-top: 50px" >
           
            <img class="card-img-top" src="{{objetRecherche.imageUrl}}" alt="Card image cap" style="width:70%">
    
            <div class="card-body">
             <h5 class="card-title titre" style="font-size: 4vw" style="text-align: left"> {{objetRecherche.nom}}</h5>
          
          </div>
        </div>
        </a>
   
      
      
 
  </div>
<p *ngIf="!existence">Bah alors ? <br> On ne sait pas faire une <br>recherche avec des bons termes ?</p>
