<div style="background-color:#F9F7F7; height: 80vh">

  <div *ngIf="existence">

    <div class="title-research">
      Resultat de recherche
    </div>

    <div class="row">
      <div class="col-3" style="padding-right:0px;">
        <hr class="line">
      </div>
      <div class="col-6">
        <div [routerLink]="[adress,objetRecherche.nom]" class="conteneur">
          <div style="display: inline-block" class="alimentName">
            {{objetRecherche.nom}}
          </div>
          <div style="display: inline-block">
            <img src="../../../../assets/arrow_research.png" alt="" width="25px" height="auto" style="padding-top: 30px;">
          </div>
          <img src="{{objetRecherche.imageUrl}}" width="70%" alt="">
        </div>

      </div>

      <div class="col-3" style=" padding-left:0px;">
        <hr class="line"> 
      </div>
    </div>
  </div>

  <div *ngIf="!existence" style="text-align: center;">
    <img src="../../../assets/NoResult.png" width="60%" alt="">
      <h3> <b> Aucun résultat ... </b> </h3>
      <h6 style="color: grey; margin-top:15px">  Avez-vous effectué votre recherche avec de bon(s) terme(s) ? </h6>
  </div>

</div>