<!-- <div class="main" style="background-image: linear-gradient(to right,#FFBFD1, #FF6A6E);"> -->
    <div class="main">

        <div class="row">
          <div class="col col-legumes ">
            <a class="nav-link" [routerLink]="['/legumes']" style="padding-right:0px">
              <button style="text-align:center" class="btn btn-primary btn-legumes"> Tous les légumes </button>
            </a>
          </div>
      
          <div class="col col-saison">
            <a class="nav-link" [routerLink]="['/legumes-de-saison']" style="padding-left:0px">
              <button style="text-align:center" class="btn btn-primary btn-saison"> Légumes de saison </button>
            </a>
          </div>
        </div>
      
        <div class="main1">
          <div class="row justify-content-center elmt2">
            <div *ngFor="let legume of tableauTrie" style="text-align: center" class="col-6 elmt3">
              <div class="card elmtSingle ">
                <a [routerLink]=" ['/legumes',legume.nom] ">
                  <img src="{{legume.imageUrl}}" alt="Card image cap" style="width:90%">
                  <h5 class="card-title titre"> {{legume.nom }}</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      
      </div>