@font-face {
    font-family: 'codecColdTrial';
    src: url('../../../../assets/fonts/Codec-Cold-Extralight-trial.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amiko Regular";
    src: url('/../../../assets/fonts/Amiko/Amiko-Regular.ttf');
}

@font-face {
    font-family: "Casual Friday";
    src: url('/../../../assets/fonts/CasualFriday/Casual Friday.ttf');
}

.alimentName{
    color: #4e4d4d;
    font-family: 'Casual Friday';
}
.elmtSingle{
    margin-top: 15px;
    border: solid 0px;
    border-radius: 0px;
    padding-top:15px;
    border-radius: 10px;
}

.main{
    padding-top: 15px;
    padding-bottom: 0px;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.custom-btn{
    background-color:white;
    color: black;
    border-radius:10px;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 3vw;
}

.titre{
    font-size: 5vw;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom:5px;
    text-align: center; 
    font-family: 'Garamond';
    color:darkslategray;
}

.btn-legumes{
    text-align: center;
    background-color: #0ebd7f;
    color: white;
    font-size: 3vw;
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 10px;
    border-radius:  20px;
    border: solid 1px #0ebd7f;
    box-shadow: 1px 1px 5px #555;
}

.btn-saison{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 3vw;
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 10px;
    border-color: darkgrey;
    border-radius:  20px;
}

.col-legumes{
    text-align: right;
    padding-right: 8px;
}

.col-saison{
    padding-left: 8px;
    text-align: left;
}

